---
import Base from "../layouts/Base.astro";
---

<Base>
  <h2>Aquí</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam ipsum
    reprehenderit in praesentium tempora commodi neque repellat molestias sint
    minima, debitis corporis placeat repellendus laudantium, explicabo libero
    aspernatur blanditiis? Deleniti!
  </p>
</Base>
